.grid {
    box-shadow: 0 10px 10px 2px #4345475e;
    border-radius: 2px;
    height: fit-content;
    justify-content: center;
/*    font-family: "Montserrat", sans-serif;*/
    text-align: justify;
    font-size: 1.2vw;
    font-weight: 400;
    margin: 2vw;
    /* max-width: 1000px; */
  
    /* grid-row-gap: 30vh; */
    grid-row-gap: 60vh;
    display: block;
    padding: 10px 40px;
    padding-bottom: 70px;
    width: 350px;
  }
    .grid:hover {
    transition: 0.5s;
    transform: scale(1.006, 1.006);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  }